In [2]:
import pandas as pd
import numpy as np

data_set = pd.read_csv('../TextFiles/smsspamcollection.tsv', sep='\t')

In [3]:
data_set.head()

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3   ham  U dun say so early hor... U c already then say...      49      6
4   ham  Nah I don't think he goes to usf, he lives aro...      61      2

In [5]:
data_set.isnull().sum()

label      0
message    0
length     0
punct      0
dtype: int64

In [6]:
len(data_set)

5572

In [7]:
data_set['label'].unique()

array(['ham', 'spam'], dtype=object)

In [8]:
data_set['label'].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [9]:
import matplotlib.pyplot as plt

In [ ]:
plt.xscale('log')
bins = 1.15**(np.arange(0, 50))